<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>homepageController</display-name>
    <servlet-name>homepageController</servlet-name>
    <servlet-class>Controller.homepageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homepageController</servlet-name>
    <url-pattern>/homepageController</url-pattern>
  </servlet-mapping>
  <display-name>Doctor Appointment System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>Controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>patientController</display-name>
    <servlet-name>patientController</servlet-name>
    <servlet-class>Controller.patientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patientController</servlet-name>
    <url-pattern>/patientController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>Controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentConroller</display-name>
    <servlet-name>AppointmentConroller</servlet-name>
    <servlet-class>Controller.AppointmentConroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentConroller</servlet-name>
    <url-pattern>/AppointmentConroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentController</display-name>
    <servlet-name>AppointmentController</servlet-name>
    <servlet-class>Controller.AppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentController</servlet-name>
    <url-pattern>/AppointmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorController</display-name>
    <servlet-name>DoctorController</servlet-name>
    <servlet-class>Controller.DoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorController</servlet-name>
    <url-pattern>/DoctorController</url-pattern>
  </servlet-mapping>
</web-app>